*{
    margin: 0;
    padding: 0;
}
body{
    background: hsl(30, 38%, 92%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 520px;
    height: 400px;
    border-radius: 15px;
}
main{
    width: 200%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}
aside{
    padding: 30px;
}
div:first-child{
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.product-type{
    letter-spacing: 4px;
    margin-bottom: 15px;
    color: gray;
}
.product-heading{
    font-size: 32px;
    margin-bottom: 15px;
}
.product-descript{
    color: gray;
    margin-bottom: 10px;
}
.price{
    font-size: 28px;
    color:rgb(73, 168, 124);
    font-weight: 600;
    margin-bottom: 15px;
}
.off-price{
    position: relative;
    font-size: 10px;
    bottom: 5px;
    left: 10px;
    color: gray;
    text-decoration: line-through;
}
button{
    padding: 0;
    background: rgb(73, 168, 124);
    color: white;
    font-weight: 900;
    width: 100%;
    height: 40px;
    border-radius: 10px;

}
